* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f3f3f3;
  /* font-family: "Playfair Display", serif;
  font-family: "Lato", sans-serif; */
}
.container {
  width: 1340px;
  margin: 0 auto;
  /* border: 5px solid red; */
}
header,
footer {
  background-color: white;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
}
.nav {
  display: block;
}
.nav li {
  display: inline-block;
  margin: 0 12px;
}
.nav li a {
  color: #4d372b;
  text-decoration: none;
  font-size: 16px;
}
.menu {
  margin-left: 80px;
}
.buy {
  height: 47px;
  width: 126px;
  background: url(img/kup.jpg) no-repeat top center / cover;
  border: none;
}
.search {
  height: 57px;
  width: 50px;
  background: url(img/search.png) no-repeat top center / cover;
  border: none;
}
.cart {
  height: 57px;
  width: 50px;
  background: url(img/cart.png) no-repeat top center / cover;
  border: none;
}
.titles {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 55px 0;
}
.titles__first {
  margin: 0 125px;
}
.titles__second {
  font-size: 30px;
  color: #b9946b;
}
.title {
  font-size: 72px;
  font-weight: bold;
  color: #503f32;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 30px;
}
.title-options h2 {
  font-size: 32px;
  color: #503f32;
}
.title-options p {
  font-size: 16px;
  color: #503f32;
}
.options {
  display: flex;
  margin-bottom: 5px;
}
.title-options {
  flex-basis: 25%;
  padding-right: 40px;
}
.rectangles {
  display: flex;
}
.rectangles__item {
  height: 336px;
  flex-basis: 25%;
}
.news-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.circles {
  display: flex;
  position: absolute;
  right: 20%;
}
.circles__item {
  height: 24px;
  width: 24px;
  background-color: #b2aba6;
  border-radius: 50%;
  margin: 0 5px;
}
.active {
  background-color: #503f32;
}
.news-slider {
  display: flex;
  align-items: center;
}
.slider-arrow {
  display: flex;
  padding: 0 60px;
  justify-content: center;
}
.news {
  display: flex;
  flex-direction: column;
}
.news-row1,
.news-row2 {
  display: flex;
}
.news__item {
  height: 224px;
  flex-basis: 33.33%;
}
.news h3 {
  font-size: 28px;
  color: #503f32;
  padding: 5px;
}
.news p {
  font-size: 14px;
  color: #503f32;
  padding: 5px;
}
.furniture-of-week {
  background: url(img/bedroom_bg_opacity.png) no-repeat top center / cover;
  height: 810px;
}
.fourniture {
  height: 715px;
}
.title-date {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.date {
  position: relative;
  top: 0px;
  left: 15%;
}
.decors {
  display: flex;
}
.decors__item {
  width: 69px;
  height: 69px;
  margin-right: 30px;
}
.decors__item__color1 {
  background-color: #755b46;
}
.decors__item__color2 {
  background-color: #cf1f1f;
}
.decors__item__color3 {
  background-color: #dfd0b9;
}
.value {
  color: #503f32;
  font-weight: bold;
}
.fourniture p {
  font-size: 18px;
  line-height: 1.5rem;
}
.fourniture {
  padding-top: 60px;
}
.blue {
  border: blue 5px solid;
}
.decors {
  padding-top: 15px;
  padding-bottom: 20px;
}
.img-perspective {
  display: flex;
  padding-top: 140px;
}
.img-perspective__item {
  padding-right: 20px;
}
.customize {
  width: 356px;
  height: 98px;
  background: url(img/button_customize.jpg) no-repeat top center / cover;
  color: white;
  font-size: 32px;
  border: none;
  padding: 25px 40px 30px 50px;
}
.button-customize {
  display: flex;
  justify-content: center;
  align-self: end;
}
.choises {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #503f32;
}
.choises__items {
  padding: 25px 40px;
  margin: 0 10px;

  color: #a49e99;
  background-color: white;
  border: 1px solid #503f32;
  text-transform: uppercase;
}
.choises button:nth-child(1),
.choises button:nth-child(2) {
  font-size: 72px;
}
.choises button:nth-child(3),
.choises button:nth-child(4) {
  font-size: 36px;
}
.inspiration_button_active {
  color: white;
  background: url(img/button_customize.jpg) no-repeat top center / cover;
}
p.choises-information {
  color: #503f32;
  font-size: 18px;
  padding: 40px 0;
}
.tile {
  display: flex;
  flex-flow: row wrap;
}
.tile-row1,
.tile-row2 {
  width: 100%;
  display: flex;
}
.tile__item {
  width: 25%;
  height: 285px;
}
.tile-row1 .tile__item:nth-child(odd) {
  background-color: #e3e1e0;
}
.tile-row1 .tile__item:nth-child(even) {
  background-color: #d2cfcc;
}
.tile-row2 .tile__item:nth-child(odd) {
  background-color: #d2cfcc;
}
.tile-row2 .tile__item:nth-child(even) {
  background-color: #e3e1e0;
}
.steps {
  display: flex;
}
.steps__items {
  height: 448px;
  flex-basis: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.steps h2 {
  color: #503f32;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
}
.color-light-grey {
  background-color: #e3e1e0;
}
.color-dark-grey {
  background-color: #d2cfcc;
}
hr.underline {
  width: 174px;
  height: 3px;
  background-color: #503f32;
  margin-top: 50px;
}
.icons {
  padding: 120px 0 30px 0;
  display: flex;
  justify-content: center;
}
.icons img {
  padding: 0 75px;
}
.info-for-you {
  background: url(img/made_bg.jpg) no-repeat top center / cover;
  height: 250px;
  font-size: 72px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
p.info-made {
  font-weight: bold;
  font-size: 72px;
}
p.info-doorstep {
}
.inspiration_button_active {
  color: white;
  background: url(img/delivered.jpg) no-repeat top center / cover;
}
.insurance-info {
  display: flex;
}
.insurance-info__items {
  margin-top: 90px;

  height: 448px;
  flex-basis: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.insurance-info h2 {
  color: white;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
}
.item1_bg {
  background: url(img/bg_gwarancja.jpg) no-repeat top center / cover;
}
.item2_bg {
  background: url(img/bg_doradztwo.jpg) no-repeat top center / cover;
}
.item3_bg {
  background: url(img/bg_zas_zakup.jpg) no-repeat top center / cover;
}
hr.underline2 {
  width: 174px;
  height: 3px;
  background-color: white;
  margin-top: 50px;
}
.create {
  text-align: center;
  margin-top: 75px;
  margin-bottom: 60px;
}
.footer-col {
  display: flex;
}
.footer-column {
  flex-basis: 16.66%;
}
h5.header-footer {
  font-size: 24px;
  color: #cbb092;
}
footer {
  padding: 25px 0 60px 0;
}
footer ul {
  list-style-type: none;
}
footer li {
  color: #503f32;
  line-height: 2rem;
}
.footer-column {
  height: 270px;
  border-right: 1px solid #997575;
  padding-left: 15px;
}
.footer-column:last-child {
  border-right: 0px;
}
